{% extends "head.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Jahresziel</title>
    </head>
    <body>
        <h1>Lass uns sehen, wie es um dein Jahresziel steht</h1>
        </br>
        </br>
        {% if keinfile %}
        <!-- Zeigt an, dass noch kein Jahresziel definiert wurde -->
        <div class="alert alert-warning" role="alert">
            {{keinfile}}
        </div>
        {% endif %}

        <!-- Jahresziel Eingabe oder Anpassung -->
        <h6> Wieviel setzt du dir als Jahresziel?</h6>
        <form method="POST">
            <input type="number" name="Ziel" placeholder="Gib mir eine Zahl an">
            <button type="submit">Senden</button>
        </form>
        </br>
        </br>
        </br>

        {% if not keinfile %}
                <!-- Anzeige jetziges Jahresziel -->
        <h4>Aktuell beträgt dein Ziel</h4> <h1 style="color: blue">{{jahresziel_ungerechnet}}</h1>
        </br>
        <!-- Totale Ausgaben im Verhältnis zum Jahresziel entweder rot, orange oder grün anzeigen -->
        <div class>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <th style="width: 30%" scope="col">Noch mögliche Ausgaben</th>
                    <th style="width: 70%" scope="col">Totale Ausgaben</th>
                </thead>
                {% if jahresziel > 2/3 * jahresziel_ungerechnet %}
                <td style="color: green;">{{jahresziel}}</td>
                {% elif jahresziel < 2/3 * jahresziel_ungerechnet and jahresziel > 1/3 * jahresziel_ungerechnet %}
                <td style="color: orange;">{{jahresziel}}</td>
                {% else %}
                <td style="color: red;">{{jahresziel}}</td>
                {% endif %}
                <td style="color: red;">{{summiert}}</td>
            </table>
        </div>
        <!-- Visualisierung mit Plotly-->
        {{visualisierung|safe}}
    {% endif %}
    </body>
    {% endblock %}
</html>