<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">FINAZUBI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon.color">Dropdown</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Startseite</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('ausgaben') }}">Ausgaben</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('finanzen') }}">Finanzen</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="{{ url_for('jahresziel') }}">Jahresziel</a>

      </ul>
    </div>
  </div>
</nav>
